label{
    font-weight: 700;
    font-size: 20px;
}
input{
    border: 1px solid black;
    
    margin-top: 5px;
    padding: 10px 10px;
    font-size: 20px;
    width: 100%;
}
.btn{
    margin-top: 10px;
    padding: 10px 60px;
    background-color:  #b0c4de;
    border: 0;
    color: white;
    font-size: 20px;
    width: 100%;
    
}
.btn:hover{
    cursor: pointer;
    color: white;
}